.contactAddForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  background-color: #d3d3d3;
  margin: 30px auto 5px auto;
}

.contactAddLabel {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px auto;
  font-size: 22px;
  font-weight: 600;
}

.contactAddInput {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
  align-items: center;
  font-size: large;
  text-align: left;
  border-radius: 12px;
  padding: 10px 5px;
  outline: 0;
}

.contactAddInput:focus {
  border: 1px solid #81aee2;
}

.contactAddBtn {
  margin: 20px auto;
  width: 270px;
  background-color: #1c4672;
  border: none;
  color: white;
  height: 40px;
  border-radius: 10px;
  line-height: normal;
  font-size: initial;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.contactAddBtn:hover {
  background-color: #81aee2;
  cursor: pointer;
  color: #ff6347;
  transition: 250ms;
  box-shadow: 0.5rem 0.5rem 2rem rgb(116, 113, 113),
    -0.5rem -0.5rem 2rem rgb(116, 113, 113);
}
