.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: rgba(190, 234, 221, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(190, 234, 221, 0.25);
}

.label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.label__input {
  border-radius: 10px;
  font-size: large;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid;
  padding-left: 10px;
}

.formBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #690f85;
  border: none;
  border-radius: 10px;
  color: #fff;
  flex-grow: 1;
  font-size: initial;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  cursor: pointer;
}

.formBtn:hover {
  background-color: #ee0c0c2c;
  cursor: pointer;
  color: #f5f5f5;
  transition: 250ms;
  box-shadow: 0.5rem 0.5rem 2rem rgb(223, 6, 6),
    -0.5rem -0.5rem 2rem rgb(240, 9, 9);
}
