.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.logInUser {
  color: rgb(158, 32, 9);
  font-style: italic;
  font-weight: bolder;
}
.btnLogin {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(71, 83, 109, 0.8);
  border: none;
  border-radius: 6px;
  color: #fff;
  flex-grow: 1;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 20px;
  padding: 0 11px 0 11px;
  color: white;
  cursor: pointer;
}

.btnLogin:hover {
  background-color: rgb(27, 121, 214);
  color: whitesmoke;
  box-shadow: 0.5rem 0.5rem 2rem rgb(255, 255, 255),
    -0.5rem -0.5rem 2rem rgb(255, 255, 255);
  border: white;
}
